/* APP */
.App {
  text-align: center;
}

.App-header {
  background-color: lightcoral;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-article {
  margin: auto;
  justify-content: center;
  justify-items: center;
  width: 50vw;
  font-size: calc(5px + 2vmin);
}

#cvtBtn {
  margin: 10px;
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  color: black;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 10px 16px;
  text-decoration: none;
  transition: color 100ms;
}
#cvtBtn:active {
  background-color: #F082AC;
}

/* ADVANCED DROPDOWN */

#youtubeUrl {
  min-width: 100%;
}

#advBtn {
  border-style: none;
  background-color: white;
  width: 50%;
  font-size: medium;
}

.vidAudBtn {
  border: none;
  border-bottom: 2px solid black;
  background-color: white;
  width: 25%;
  padding: 5px;
}
.vidAudBtnActive {
  background-color: lightgray;
}

/* VIDEO DATA */

#videoData, #audioData {
  overflow: auto;
}

.hideVidAudData {
  display: none;
}